/*body {
    background-image: url("../images/background.png");
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
}*/
form fieldset {
    clear: both;
    font-size: 100%;
    border-color: #000000;
    border-width: 1px 0 0 0;
    border-style: solid none none none;
    padding: 10px;
    margin: 0 0 0 0;
}

form fieldset legend {
    font-size: 150%;
    font-weight: normal;
    color: #000000;
    margin: 0 0 0 0;
    padding: 0 5px;
}

form textarea {
    width: 350px;
    height: 150px;
}

label {
    font-size: 100%;
}

.error {
    color : red;
    font-weight: bold;
}

.success {
    color : green;
    font-weight: bold;
}