form fieldset {
    clear: both;
    font-size: 100%;
    border-color: #000000;
    border-width: 1px 0 0 0;
    border-style: solid none none none;
    padding: 10px;
    margin: 0 0 0 0;
}

form fieldset legend {
    font-size: 150%;
    font-weight: normal;
    color: #000000;
    margin: 0 0 0 0;
    padding: 0 5px;
}

form textarea {
    width: 350px;
    height: 200px;
}

label {
    font-size: 100%;
}
